// BUTTON 

.card-evenement {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    p {
        padding: 16px;
        background-color: #D1505A;
        border-radius: 50px;
        color: white;
        font-weight: bold;

        &:hover {
            color: #D1505A;
            background-color: white;
            border: 1px solid #D1505A;
        }
    }

    i {
        margin-left: 22px;
        font-size: 24px;
    }
}

// CARDS ARTICLES

.card {
    margin-top: 50px;
    margin-right: 150px;
    margin-left: 150px;
    display: flex;
    flex-direction: column;

    .cards {
        padding: 22px;
        width: 100%;
        border: 1px solid #E5E5E5;
        border-radius: 16px;
        margin-bottom: 30px;

        &:hover {
            border: 1px solid #D14F5A;
        }
    }

    .img-article {
        border-radius: 16px;
        width: 100%;
        height: 350px;
        margin-top: 20px;
    }

    .flex-name-user {
        display: flex;

        .margin-right-5 {
            margin-right: 5px;
            margin-top: 14px;
        }

        .avatar-article {
            width: 50px;
            height: 50px;
            margin-right: 16px;
        }

        .font-user {
            font-size: 18px;
            font-weight: 900;
            color: #2D3F5D;
        }
    }
}

.edit-article-icon {
    font-size: 26px;
    color: #2D3F5D;
    position: absolute;
    right: 172px;
}

.delete-article-icon {
    font-size: 26px;
    color: #2D3F5D;
    position: absolute;
    right: 218px;
}

.margin-top-16 {
    margin-top: 16px;
}

.bold-title {
    font-weight: bold;
    color: #333;
}

.flex-like {
    display: flex;
}

.like {
    text-align: right;
    margin-top: 16px;
    color: #2D3F5D;
}

.font-size-22 {
    font-size: 22px;
}

.margin-right-comment {
    margin-right: 8px;
    font-size: 20px;

    &:hover {
        color:#D1505A;
    }
}

.like-hover:hover {
    color:#D1505A;
}

// CARD PROFIL 

.card-profile {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
}

.user-profile {
    background-color: #F9F9F9;

   .user-profile-img {
        width: 220px;
        height: 220px;
        margin: 16px;
        margin-bottom: 46px;
    }

    .img-fontawesome-profil {
        background-color: #D1505A;
        color: black;
        text-align: center;
        padding: 12px;
        border-radius: 46px;
    }

    .margin-right-off {
        margin-right: 26px;
    }
}

.off-and-basket {
    display: flex;
    justify-content: center;
    padding: 16px;
    font-size: 22px;
}

.info-user {
    padding-left: 30px;
    margin-top: 10px;

    .card-info-user {
        border: 1px solid #ECECEC;
        width: 400px;
        padding: 10px;
        text-align: right;
        font-style: italic;
        color: #A8A8A8;
        margin-bottom: 16px;
    }

    #description-profil {
        border: 1px solid #ECECEC;
        width: 400px;
        padding: 10px;
        height: 170px;
        font-style: italic;
        color: #A8A8A8;
        margin-bottom: 16px;
    }
}

// CARD LOGIN

.card-login {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;

    form {
        border: 1px solid #A8A8A8;
        border-radius: 16px;
        background-color: rgba(236, 236, 236, 0.6);
        padding: 80px 50px;
        left: 327px;

        img {
            width: 150px;
            margin-left: 100px;
        }

        .form-email-password {
            width: 350px;
            margin-bottom: 16px;
            padding: 10px;
            border: none;
            border-bottom: 1px solid #A8A8A8;
            background-color: rgba(236, 236, 236, 0.6);
            outline: none;     
        }

        .button-form {
            text-align: center;
            margin-top: 56px;
        }
    }
}

.button {
    padding: 16px 20px;
    border-radius: 20px;
    border: none;
    background-color: #D1505A;
    color: white;
    font-weight: bold;
    margin-bottom: 26px;

    &:hover {
        background-color: white;
        color: #D1505A;
    }
}

// CARD AFFICHAGE PRODUIT

.card-display-article {
    margin: 50px 50px;
    padding: 30px 30px;

    form {
        border: 1px solid #A8A8A8;
        border-radius: 16px;
        background-color: rgba(236, 236, 236, 0.6);
        padding: 80px 50px;
        left: 327px;
    }

    .button-form {
        margin-top: 16px;
    }
}

.form-title-content {
    text-align: left;
    font-style: italic;
    padding: 10px;
    margin: 8px;
    width: 100%;
    outline: none;  
}

#content {
    height: 150px;
}

.add-image {
    font-size: 36px;
    margin-bottom: 16px;
    text-align: center;
}

#add {
    &:hover {
        color: #D1505A;
    }
}

.display-none {
    text-align: center;
    margin-bottom: 16px;
}

