.p-form-login {
    display: none;
}

.p-signup {
    margin-bottom: 10px;
    font-size: 12px;
    margin-left: 16px;
    font-style: italic;
    color:lightcoral;
}

.valid-form-signup {
    color: lightcoral;
    font-weight: bold;
    font-size: 22px;
}
