.navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E5E5E5;
    position: relative;

    .logo {
        width: 150px;
        height: 150px;
        position: absolute;
        top: -104px;
        margin-left: 10px;
    } 
}

.list-navbar {
    display: inline;
    margin-right: 36px;
    font-size: 20px;
}

.list {
    display: flex;
    position: absolute;
    right: 16px;
    top: -42px;
}

.avatar {
    width: 30px;
    height: 30px;
    position: relative;

    &:hover {
        border: 2px solid #d14f5a;
        border-radius: 50%;
    }
}

.dropdown {
    display: inline-block;
}

.list-login-signup {
    border: 1px solid black;
    background-color: rgb(228, 228, 228);
    color: #2D3E5D;
    font-weight: bold;
    position: absolute;
    right: -15px;
    top: 32px;
    display: none;
    outline: none;
    padding: 0px 6px;
}

.drop-list {
    border-bottom: 1px solid black;
}

.dropdown:hover .list-login-signup {
    display: inline;
}

#hover-login:hover {
    color:#d14f5a;
}

#hover-signup:hover {
    color:#d14f5a;
}

#hover-profil:hover {
    color:#d14f5a;
}

