.navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E5E5E5;
    position: relative;

    .logo {
        width: 150px;
        height: 150px;
        position: absolute;
        top: -104px;
        margin-left: 10px;
    } 
}

.list-navbar {
    display: inline;
    margin-right: 16px;
    font-size: 20px;
}

.list {
    display: flex;
    position: absolute;
    right: 16px;
    top: -42px;
}

.avatar {
    width: 30px;
    height: 30px;
}
